* {
    margin: 0;
    padding: 0;
}

#container-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

#container-logo > img {
    margin-right: 7px;
}

main {
    margin-top: 110px;
}

