/* configurações gerais */

* {
    margin: 0; /* zerar margin geral */
    padding: 0; /* zerar padding geral */
}

/* fim das configurações gerais */

/* cor do fundo body */

.background-body {
    background-color: bisque; /* background do body */
}

/* fim das configurações background */

/* designs gerais header */

.cointainer-header {
    background-color: #93e381; /* cor do header */
    width: 100%; /* tamanho 100% */
}

/* fim de design gerais header */

/* começo header geral */

.cointainer-titulo-e-logo {
    display: flex;
    align-items: center;
    justify-content: center;

    /* display flex para alinhar itens no centro */
}

/* começo logo img*/

#logo-img {
    width: 40px; /* tamanho imagem */
    display: inline-block; /*display inline (ocupando so o seu taamnho) com configurações em block (ocupando a linha toda) */
}

/* final logo img */

/* começo título header h1 */

#titulo {
    color: #d4a017; /* cor do texto */
    -webkit-text-stroke: 1px rgb(143, 136, 57); /* borda do texto */
}

/* fim do titulo h1 do header */ 

/* fim header geral */

.nav-cointainer {
    display: flex;
    align-items: center;
    justify-content: center;
    /* display flex centralizando a div */

    gap: 15px; /* espaço de 20px entre elementos */
}
/* buttons da nav */

.nav-buttons {
    color: rgb(189, 118, 46); /* cor do texto */ 
    text-decoration: none; /* tira a decoração do texto */
    -webkit-text-stroke: rgb(54, 71, 48) 0.2px; /* cor de borda no texto (webtik = extensão chrome) */
    font-size: 1.7em; /* tamanho da fonte */
    text-transform: uppercase; /* transforma o texto em letras maiúculas */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* fonte do texto */
}

/* buttons nav quando passa o mouse */

.nav-buttons:hover {
    border-bottom: 3px solid black;
    border-right: 3px solid black;
    transition: 0.2s;
}

/* fim buttons da nav quando passa o mouse */


/* fim configurações dos buttons da nav */

#animais-img {
    width: 100%;
    height: 60vh;
    display: block;
    margin: auto;
}

/* página produtos */

#h2-sobre {
    color: rgb(189, 118, 46);
    text-transform: capitalize;
    text-align: center;
    margin-top: 10px;
    font-size: 2.3em;
}

#titulo-prom {
    text-align: center;
    color: #866719;
}

#carouselExample {
    display: block;
    margin: auto;
    width: 450px;
    margin-top: 10px;
    height: 300px;
}

#cointainer-prod {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    flex-wrap: wrap;
    gap: 10px;
}

.produto-box {
    width: 230px;
    background-color: whitesmoke;
    padding: 10px;
    height: 480px;
    max-height: 500px;
    margin: auto;
    text-align: center;
}

.produto-box:hover {
    scale: 1.1;
    border-radius: 30px 10px;
    transition: 0.3s;
}

.produto-box>h1 {
    color: rgb(163, 115, 31);
    font-size: 1.4em;
}

.button-buy {
    background-color: rgb(0, 128, 81);
    color: white;
    padding: 10px;
    font-size: 1.2em;
    text-transform: uppercase;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.texto-descricao {
    font-size: 0.8em;
}

.preco {
    font-size: 1.3em;
}